body{

    background-color: blanchedalmond;
    
    color: black;
        
        }
        
        p{

           height: 6000px ;

            width: 200px ;

            float: left ;

            padding: 5px ;

            line-height: 30px ;
                        
                        }
                        
            footer{

                            text-align: center ;
                            
                            }
                            
            footer{

                                margin-right: 200px ;
                                
                                }
                                
                    #memeImage{

                                    margin-right: 200px ;
                                    
                                    }
                                    
                            h1{

                                        text-align: center ;
                                        
                                        }
                                        
                                        